# PostgreSQL
DB_SERVER=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=mysecretpassword
DB_DATABASE=sistema_ouvidoria
DB_SCHEMA=dbo

# MinIO
MINIO_ENDPOINT=http://minio:9000  # hostname = nome do serviço no compose, porta = porta interna (não a exposta)
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_LANDING_BUCKET=landing-zone
MINIO_BRONZE_BUCKET=bronze
